<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediaRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35E3EF8E1C16F0A1007EDE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E3EFA71C16F0A1007EDE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E3EFB21C16F0A1007EDE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
